#welcome-heading {
    background-color: #1F8AC0;
    padding: 15px;
    font-size: 50px;
    margin-bottom: 60px;
}

li{
    margin:5px;
}
.delete-button{
    margin-left: 30px;
}

i {
    margin-right: 4px;
    color: #1F8AC0;
}

.heading {
    font-family: 'Overpass';
    font-weight: bolder;
    margin: 0;
    letter-spacing: -1px;
    text-align: center;
    font-size: 45px;
}